{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron" style="background-color:white;">
  <center><h1 class="display-4">Welcome! Opportunity starts here</h1></center><br>
  <p class="lead">JAS services is the world's leading services company, a growing and visionary organisation, comprised of the best and brightest professionals. No matter where they are in the world, our people focus their diverse talents, skills and experience.
We want people at all levels of knowledge and experience, who think creatively and collaborate successfully with a team and with clients. Whether you’re a recent graduate or an experienced professional, we can provide limitless opportunities for your career development.
</p>
  <hr class="my-4">
  <center><p><b>Our aim is helping our clients to achieve their goals</b></p></center>
<br><br>
<div class="card-deck">

<div class="card bg-light mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work with us</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Join us</a>
  </div>

</div>

<div class="card bg-light mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Current Career Opportunities</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Join us</a>
</div>
</div>
<div class="card bg-light mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Freelancer</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Join us</a>
  </div>
</div>
</div>

</div>


{% endblock %}