{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron" style="background-color:white;">
<div class="card-deck">
    <div class="card" style="width: 10rem;">
        <img src="{% static 'home/Insurance.jpg' %}" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">Home Loan</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="{% static 'home/loans.jpg' %}" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">Business Loan</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="{% static 'home/property.jpg' %}" class="card-img-top" alt="pic">
        <div class="card-body">
          <h5 class="card-title">Vehicle Loan</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
</div>
{% endblock %}