{% extends "home/base.html" %}
{% load static %}

{% block content %}

	<head>
		<meta charset="utf-8">
		<title>Leveraging JavaScript</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/html" href="modal image1.css">
		<link rel="stylesheet" type="text/html" href="modal image.css">
		<script type="text/javascript" src="{% static 'home/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'home/lightbox.min.js' %}"></script>
	</head>

	<body>

		<div class="content-area group section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- col -->
					<div class="col col-md-8 push-down-sm">

						<h2>Welcome to the page!</h2>

						<!-- thumbnails -->
						<div class="thumbnails group">
						    {% for project in projects %}
						    {% if project.url %}
						    <a href="{{ project.image.url }}" data-lightbox="gallery"><img src="{{ project.image.url }}" alt="Dock"></a>
                            {% else %}
                            <img src="{{ project.image.url }}" class="img-fluid mb-2">
                            {% endif %}
                            <h3>{{ project.title }}</h3>
                            <p>{{ project.description }}</p>
                            {% endfor %}
						</div><!-- /thumbnails -->

					</div><!-- /col -->

					<!-- col -->
					<div class="col col-md-4 sidebar">
						<h3>Sidebar Heading</h3>
						<p>Sidebar Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

						<p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
					</div><!-- /col -->

				</div><!-- /row -->

			</div><!-- /container -->

		</div>
		{% endblock %}
